@import '../../styles/style.scss';

.categoryItem {
  border-bottom: 1px solid lightgray;
  display: flex;
  font-size: 0.75rem;
  padding: 1rem 0.5rem 0 0;
  cursor: pointer;


  p, h3 {
    margin: 0.5rem 0;
  }

  .categoryItem__imageFrame {
    width: 6rem;
  }

  .categoryItem__imageFrame img {
    width: 6rem;
    height: auto;
  }

  .categoryItem__infoContainer {
    padding: 0 0.5rem;
  }

  .categoryItem__container {
    max-width: 40rem;
  }

  .categoryItem__rating {
    display: flex;
    align-items: center;
  }

  .categoryItem__starIcon {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.25rem;
  }

  .categoryItem__rankMobileContainer {
    display: inline-block;
    background-color: #F3F7FB;
    border-radius: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: auto;
    margin-right: 0.5rem
  }

  .categoryItem__rankMobileContainer p {
    margin-left: 9px;
    line-height: 10px;
  }

  .categoryItem__description {
    display: inline;
    color: gray;
  }

  .categoryItem__price {
    font-size: 1rem;
    font-weight: bold;
  }

  .categoryItem__rankDesktopContainer {
    display: none;
  }

  button {
    display: none;
  }

  @include desktop {
    .categoryItem__infoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      flex-grow: 1;
    }

    .categoryItem__rankMobileContainer {
      display: none;
    }

    .categoryItem__rankDesktopContainer {
      display: block;
    }

    .categoryItem__container {
      width: 20rem;
    }

    .categoryItem__dataContainer {
      display: flex;
      justify-content: space-between;
      width: 45vw;

    }

    .categoryItem__dataSubContainer {
      width: 7rem;
      display: flex;
      justify-content: center;
    }

    button {
      display: block;
      height: 2rem;
      border-radius: 0.25rem;
      background-color: #159599;
      color: white;
      cursor: pointer;
    }

  }
}
